.App {
  text-align: center;
}

.board{
  background-color: aliceblue;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
}

.row{
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
}

.cell{
  font-size:xx-large;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  font-weight: 300;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.grid{
  margin: 20px;
  padding: 20px;
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}